<div class="container zaz-effect zaz-effect-bar-top">
    <div class="gadget-controls">
        <div class="controls-bar">
            <div class="message">
                Sample Form
            </div>
        </div>
    </div>
    <div class="gadget-content">
    </div>
</div>