.notifications .count {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -11px;
  width: 12px;
  height: 12px;
  padding: 5px;
  font-size: 10px;
  transition: 0.3s all;
  border-radius: 10px;
  background-color: red;
  color: #FFFFFF;
  text-align: center; }

.notifications.active .count {
  opacity: 1; }

.notification {
  border: 1px solid #aaa;
  overflow: auto;
  padding: 5px;
  position: absolute;
  min-width: 150px;
  border-radius: 4px;
  background-color: #eef2f9;
  box-shadow: 0 3px 5px #ccc;
  bottom: 20px;
  right: 20px;
  width: 360px;
  height: 80px;
  opacity: 0;
  transition: opacity 2s; }
  .notification .header {
    font-size: 15px;
    font-weight: bold;
    padding: 5px; }
  .notification .content {
    padding: 5px; }
  .notification.active {
    opacity: 1; }
