.compare {
    .gadget-controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: none;
    }
    .gadget-content {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #aaa;
        .content-item {
            flex: 1;
            min-width: 300px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            &.result {
                background-color: #f9f9f9;
            }
            >div {
                padding: 5px;
            }
            .content-title {
                background-color: RGB(var(--theme-color));
                opacity: 0.8;
                filter: hue-rotate(-30deg);
                color: #fff;
            }
            .content-text {
                overflow: auto;
            }
        }
    }
}