<div class="container zaz-effect zaz-effect-bar-top">
    <div class="gadget-controls">
        <div class="controls-bar">
            <div class="message">
                Compare content using "diff, patch or match" options
            </div>
        </div>
        <div class="controls-bar">
        <div class="knobs">
            <div tabindex="0" class="knob active" data-mode="raw" title="Perform a Raw DIFF">
                <label>Raw</label>
            </div>
            <div tabindex="0" class="knob"  data-mode="semantic" title="Perform a Semantic DIFF">
                <label>Semantic</label>
            </div>
            <div tabindex="0" class="knob"  data-mode="efficiency" title="Perform a Efficiency DIFF">
                <label>Efficieny</label>
            </div>
        </div>
    </div>
</div>

<div class="gadget-content">
    <div class="content-item text1">
        <div class="content-title">Text 1</div>
        <div class="content-text" contenteditable="true"></div>
    </div>
    <div class="content-item result">
        <div class="content-title">Result</div>
        <div class="content-text"></div>
    </div>
    <div class="content-item text2">
        <div class="content-title">Text 2</div>
        <div class="content-text" contenteditable="true"></div>
    </div>
</div>
</div>