<div class="zaz-splitter-pane zaz-splitter-prev">
</div>
<div class="zaz-splitter-splitter">
    <div class="zaz-splitter-splitter-arrow" tabindex="0" role="button" aria-expanded="false" aria-label="splitter"></div>
</div>
<div class="zaz-splitter-pane zaz-splitter-next">
</div>