.dataGrid .gadget-controls {
  padding: 0; }
  .dataGrid .gadget-controls .controls-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .dataGrid .gadget-controls .controls-bar:first-of-type {
      border-bottom: 1px solid #ccc; }
    .dataGrid .gadget-controls .controls-bar select {
      text-transform: capitalize;
      padding: 2px;
      border-radius: 3px; }
      .dataGrid .gadget-controls .controls-bar select option {
        text-transform: capitalize;
        padding: 2px; }
  .dataGrid .gadget-controls .filters {
    max-height: 100px;
    overflow: auto; }

.dataGrid .grid {
  border-top: 1px solid #ccc; }
  .dataGrid .grid tbody .cell.color div {
    box-shadow: 1px 1px 3px #aaa; }
