.gadget.news .gadget-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: none; }

.gadget.news .gadget-content {
  flex: 1;
  border-top: 1px solid #aaa;
  padding: 10px;
  overflow: auto;
  display: flex; }
  .gadget.news .gadget-content .content-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box; }
    .gadget.news .gadget-content .content-item .content-title {
      padding: 5px;
      color: #fff;
      background-color: var(--theme-color-o8); }
    .gadget.news .gadget-content .content-item .content-desc {
      padding: 10px; }
  .gadget.news .gadget-content[data-mode="gallery"] {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .gadget.news .gadget-content[data-mode="gallery"] .content-item {
      max-width: 100%; }
      .gadget.news .gadget-content[data-mode="gallery"] .content-item .content-title {
        height: 50px; }
      .gadget.news .gadget-content[data-mode="gallery"] .content-item .content-data {
        flex-direction: column-reverse;
        flex: 1;
        overflow: hidden; }
        .gadget.news .gadget-content[data-mode="gallery"] .content-item .content-data .content-image {
          height: 125px;
          padding: 10px; }
          .gadget.news .gadget-content[data-mode="gallery"] .content-item .content-data .content-image img {
            max-height: 135px; }
        .gadget.news .gadget-content[data-mode="gallery"] .content-item .content-data .content-desc {
          height: 135px; }
      .gadget.news .gadget-content[data-mode="gallery"] .content-item .content-author {
        position: inherit;
        text-align: right;
        padding: 5px;
        color: #fff;
        background-color: var(--theme-color-o8);
        height: 50px; }
  .gadget.news .gadget-content[data-mode="list"] {
    flex-direction: column; }
    .gadget.news .gadget-content[data-mode="list"] .content-item .content-data {
      display: flex;
      flex-direction: row; }
      .gadget.news .gadget-content[data-mode="list"] .content-item .content-data .content-image {
        height: 75px;
        padding: 10px; }
        .gadget.news .gadget-content[data-mode="list"] .content-item .content-data .content-image img {
          height: 100%; }
    .gadget.news .gadget-content[data-mode="list"] .content-item .content-author {
      position: absolute;
      bottom: 5px;
      right: 5px;
      padding: 5px;
      font-size: 80%;
      color: #fff;
      background-color: var(--theme-color-o8);
      border-radius: 5px 10px; }

.gadget.news[min-width~="600px"] .gadget-content[data-mode="gallery"] .content-item {
  max-width: calc(50% - 5px); }

.gadget.news[min-width~="900px"] .gadget-content[data-mode="gallery"] .content-item {
  max-width: calc(33% - 5px); }
