<div class="container zaz-effect zaz-effect-bar-top">
    <div class="gadget-controls">
        <div class="controls-bar">
            <div class="message">
                Demostrates use of grid widget (with config and data)
            </div>
        </div>
        <div class="controls-bar">
            <div class="filters">
                <div class="filter" data-filter="< 2015">Before 2015<span class="count">0</span></div>
                <div class="filter" data-filter="2015 - 2016">2015 - 2016<span class="count">0</span></div>
                <div class="filter" data-filter="> 2016">After 2016<span class="count">0</span></div>
                <div class="filter active" data-filter="all">All<span class="count">0</span></div>
            </div>
        </div>
    </div>
    <div class="grid"></div>
</div>