.formBuilder .gadget-controls .controls-bar .knobs .knob::after {
  content: attr(data-action);
  text-transform: capitalize; }

.formBuilder .gadget-content {
  flex: 1;
  border-top: 1px solid #aaa;
  overflow: hidden;
  display: flex; }

.formBuilder .zaz-form-builder {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
  --zaz-form-section-bgcolor: rgb(230, 230, 255);
  --zaz-form-group-bgcolor: rgb(230, 255, 230);
  --zaz-form-field-bgcolor: rgb(255, 255, 230); }
  .formBuilder .zaz-form-builder .highlight {
    border: 1px solid #ddd;
    background-color: #eee !important; }
  .formBuilder .zaz-form-builder .placeholder {
    border: 1px solid #ddd;
    background-color: #ffd1d1 !important;
    padding: 10px; }
    .formBuilder .zaz-form-builder .placeholder:after {
      content: 'Place here!'; }
  .formBuilder .zaz-form-builder .zaz-form-designer {
    flex: 1;
    height: 100%; }
    .formBuilder .zaz-form-builder .zaz-form-designer .zaz-form .zaz-form-items .zaz-form-section {
      transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out; }
      .formBuilder .zaz-form-builder .zaz-form-designer .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group {
        transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out; }
        .formBuilder .zaz-form-builder .zaz-form-designer .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group .zaz-form-field {
          transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out; }
          .formBuilder .zaz-form-builder .zaz-form-designer .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group .zaz-form-field:last-child {
            margin-bottom: 0; }
        .formBuilder .zaz-form-builder .zaz-form-designer .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group:last-child {
          margin-bottom: 0; }
  .formBuilder .zaz-form-builder .zaz-form-features {
    display: none;
    padding: 10px;
    height: 100%;
    width: 300px;
    border-left: 1px solid #ddd;
    overflow: auto;
    box-sizing: border-box; }
    .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-feature {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 2px;
      cursor: move; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-feature.zaz-form-section {
        background-color: var(--zaz-form-section-bgcolor); }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-feature.zaz-form-group {
        background-color: var(--zaz-form-group-bgcolor); }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-feature.zaz-form-field {
        background-color: var(--zaz-form-field-bgcolor); }
    .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 2px; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="disabled"]:after {
        content: ' - Disabled'; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="enabled"]:after {
        content: ' - Enabled'; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="inline"]:after {
        content: ' - Inline'; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="top"]:after {
        content: ' - Top'; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="placeholder"]:after {
        content: ' - Placeholder'; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="fixed"]:after {
        content: ' - Fixed'; }
      .formBuilder .zaz-form-builder .zaz-form-features .zaz-form-setting[data-value="stretched"]:after {
        content: ' - Stretched'; }
  .formBuilder .zaz-form-builder .zaz-form-data {
    padding: 10px;
    height: 100%;
    width: 50px;
    border-left: 1px solid #ddd;
    overflow: auto;
    box-sizing: border-box;
    display: flex; }
    .formBuilder .zaz-form-builder .zaz-form-data.minimal {
      width: 50px; }
      .formBuilder .zaz-form-builder .zaz-form-data.minimal .json {
        opacity: 0; }
    .formBuilder .zaz-form-builder .zaz-form-data.normal {
      width: 300px; }
      .formBuilder .zaz-form-builder .zaz-form-data.normal .json {
        opacity: 1; }
    .formBuilder .zaz-form-builder .zaz-form-data.large {
      width: 600px; }
      .formBuilder .zaz-form-builder .zaz-form-data.large .json {
        opacity: 1; }
    .formBuilder .zaz-form-builder .zaz-form-data .json {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 10px;
      box-sizing: border-box;
      overflow: auto;
      width: 100%; }
      .formBuilder .zaz-form-builder .zaz-form-data .json ul,
      .formBuilder .zaz-form-builder .zaz-form-data .json ol {
        list-style: none; }
      .formBuilder .zaz-form-builder .zaz-form-data .json ul,
      .formBuilder .zaz-form-builder .zaz-form-data .json ol,
      .formBuilder .zaz-form-builder .zaz-form-data .json li {
        margin: 0;
        white-space: nowrap; }
      .formBuilder .zaz-form-builder .zaz-form-data .json > ul {
        padding: 0; }
  .formBuilder .zaz-form-builder[data-mode='design'] {
    display: flex; }
    .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-items .zaz-form-section {
      padding: 10px;
      margin-bottom: 10px;
      background-color: var(--zaz-form-section-bgcolor);
      border: 1px solid #ddd;
      border-radius: 2px; }
      .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group {
        margin-bottom: 10px;
        background-color: var(--zaz-form-group-bgcolor);
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 10px; }
        .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group .zaz-form-group-title {
          margin-bottom: 10px; }
        .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group .zaz-form-field {
          margin-bottom: 10px;
          padding: 10px;
          background-color: var(--zaz-form-field-bgcolor);
          border: 1px solid #ddd;
          border-radius: 2px; }
          .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group .zaz-form-field .zaz-form-label {
            padding: 0px 10px 0 0; }
          .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-items .zaz-form-section .zaz-form-group .zaz-form-field .zaz-form-control {
            padding: 0px; }
    .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form .zaz-form-footer {
      display: none; }
    .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form[data-stepmode='enabled'] .zaz-form-footer {
      display: flex; }
      .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form[data-stepmode='enabled'] .zaz-form-footer [data-action='prev'],
      .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form[data-stepmode='enabled'] .zaz-form-footer [data-action='next'] {
        display: block; }
      .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form[data-stepmode='enabled'] .zaz-form-footer [data-action='submit'] {
        display: none; }
    .formBuilder .zaz-form-builder[data-mode='design'] .zaz-form-features {
      display: block; }
