.gadget {
    &.applications {
        .grid {
            tr {
                transition: background-color 1s;

                &.new {
                    background-color: #6ACEDC !important;
                }
            }

            .viewlink {
                cursor: pointer;
                text-decoration: underline;
                color: RGB(var(--theme-color));
            }

            .mark-action {
                border-radius: 4px;
                border: none;
                color: white;
                padding: 4px;
                font-size: 80%;

                &.mark-reviewed {
                    background-color: #306CA8;
                }

                &.mark-approved {
                    background-color: #237318;
                }

                &:focus {
                    opacity: 0.8;
                }
            }
        }
    }
}