<div class="container zaz-effect zaz-effect-bar-top">
    <div class="gadget-controls">
        <div class="controls-bar">
            <div class="message">
                Demostrates simple workflow with live updates
            </div>
        </div>
        <div class="controls-bar">
            <div class="filters">
                <div class="filter" data-filter="active">Active<span class="count">0</span></div>
                <div class="filter" data-filter="posted">Posted<span class="count">0</span></div>
                <div class="filter" data-filter="completed">Completed<span class="count">0</span></div>
                <div class="filter" data-filter="review">Review<span class="count">0</span></div>
                <div class="filter" data-filter="approve">Approve<span class="count">0</span></div>
                <div class="filter active" data-filter="all">All<span class="count">0</span></div>
            </div>
            <div class="app-actions">
                <button class="create-app"><span class="label">Create</span></button>
                <button class="delete-apps"><span class="label">Delete All</span></button>
            </div>
        </div>
    </div>
    <div class="grid"></div>
</div>