<div class="container zaz-effect zaz-effect-bar-top">
    <div class="gadget-controls">
        <div class="controls-bar">
            <div class="filters">
                <div tabindex="0" class="filter {{#ifequal filter 'active'}}active{{/ifequal}}" data-filter="active">Active<span class="count">0</span></div>
                <div tabindex="0" class="filter {{#ifequal filter 'review'}}active{{/ifequal}}" data-filter="review">Review<span class="count">0</span></div>
                <div tabindex="0" class="filter {{#ifequal filter 'approved'}}active{{/ifequal}}" data-filter="approved">Approved<span class="count">0</span></div>
                <div tabindex="0" class="filter {{#ifequal filter 'all'}}active{{/ifequal}}" data-filter="all">All<span class="count">0</span></div>
            </div>
            <div class="knobs">
                <div tabindex="0" class="knob new-app" data-action="new-app"><label class="label">New</label></div>
                <div tabindex="0" class="knob delete-apps" data-action="delete-apps"><label class="label">Delete All</label></div>
            </div>
        </div>
    </div>
    <div class="grid"></div>
</div>